* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserra", monospace;
}
body {
  overflow: hidden;
  color: #fff;
  background-color: #37474f;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo p {
  font-family: "Gin and Soda Personal Use";
  letter-spacing: 0.2em;
  font-size: 25px;
  color: #707070;
}


.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}


.signtext {
    position:absolute;
}

.posform {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
 
}

.container-f {
  background-color: #fff;
  box-shadow: -8px -8px 5px 2px rgba(0, 0, 0, 0.3);
  width: 400px;
  /*color: #f0f0f0;*/
  max-width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  -ms-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.header {
  border-bottom: 1px solid #ffc400;
  background-color: #37474f;
  border-radius: 10px;
  color: #ffc400;
  padding: 20px 37%;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

input::placeholder {
  color: #bdbdbd;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #bdbdbd;
}

input::-ms-input-placeholder {
  color: #bdbdbd;
}

.form-control input {
  border: 0.5px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  color: #fafafa;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background: rgba(255,255,255,0.15);
  -ms-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@keyframes inputshine {
	
	0% {background-position:-470px 0px; background-repeat: no-repeat;}
	30% {background-position:400px 0px; background-repeat: no-repeat;}
	60% {background-position:-470px 0px; background-repeat: no-repeat;}
	100% {background:rgba(255,255,255,0.15); background-position: center;}
	 }

  input:hover {
  background-repeat: no-repeat;
  background-position:-470px 0px;
  background: linear-gradient(to right, rgba(255,255,255,0)25%,rgba(255,255,255,0.2)35%,rgba(255,255,255,0.5)50%,rgba(255,255,255,0.2)55%,rgba(255,255,255,0)65%);
  -ms-background-size: 520px; 
  -moz-background-size: 520px;
  -webkit-background-size: 520px;
  -o-background-size: 520px;
  background-size: 520px;
  animation: inputshine 1s linear 0s 1 forwards;
}

.form-control input:focus {
  outline: 0;
  color: #fafafa;
  border-color: #777;
  border-radius: 10px;
}


.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}


.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}


#landingpage{
  width: 600px;
  color: #f0f0f0;
  max-width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.indexform {
  padding: 10px 10px;
  height: 30%;
}

#landsignin {
  background-color: #ffc400;
  font-size: medium;
  font-weight: bold;
  color: #37474f;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid #ffc400;
}

#landsignup {
  background-color: #37474f;
  font-size: medium;
  font-weight: bold;
  color: #ffc400;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #37474f;
}

button {
  color: #37474f;
  font-weight: bold;
  font-family: inherit;
  font-size: 20px;
  background-color: #ffc400;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 5px;
  margin-top: 20px;
  width: 50%;
  
}

.form input:hover {
  cursor: pointer ;
}

form button:hover {
  cursor: pointer;
}

.props {
  height: 100%;
  width: 100%;
	position:absolute;
	justify-content: center;
  align-items: center;
}

.signpic {
	height: 100%;
	width: 100%;
  position: absolute;
}

.shade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

form a:link {
  text-decoration: none;
}

form a:visited {
  text-decoration: none;
}

form a:hover {
  text-decoration: none;
}

form a:active {
  text-decoration: none;
}

small a {
  color: #ffd740;
}
